.container-layout {
    .main-content {
        width: calc(100% - 250px);
        min-height: 100%;
        margin-left: 250px;
        background-color: $color-white;

        &.expanded {
            width: calc(100% - 80px);
            padding-left: 80px;
        }
    }
}
