.project-page {
    .avatar-rack-wrapper {
        position: relative;
        bottom: 15px;
        right: 0;
    }

    .cumul-progress-bar {
        width: 150px;
        height: 6px;
        border-radius: 6px;
        background-color: $color-primary-blue-bg;

        span {
            display: block;
            height: 100%;
            border-radius: 6px;
            background-color: $color-primary-blue;
            transition: all 0.5s ease;
        }
    }
}