.task-chart {
    position: relative;
    height: 1200px;

    .date-col {
        width: calc(100% / 17);
        min-width: 50px;
        flex-shrink: 0;

        .date-cell {
            @extend .m-y-28;
            @extend .p-y-6;

            &.active {
                background-color: $color-primary-blue;
                color: $color-white;
                border-radius: 10px;

                > .active {
                    color: $color-white;
                }
            }
        }

        .date-bar {
            border-right: 1px solid $color-grey1;
            height: 1000px;

            .highlight {
                height: 100%;
                border: 1px solid $color-primary-blue;
                position: relative;
                z-index: 1000;

                &::before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: -8px;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $color-primary-blue;
                }
            }
        }
    }

    .task-row {
        position: absolute;
        height: 80px;
        width: 100%;
        min-width: calc(50px * 17);
        z-index: 10;

        .user-card-wrapper {
            width: fit-content;
            padding: 0 18px;
            height: 60px;
            position: absolute;
            left: 0;
            z-index: 10;
            box-shadow: $card-shadow;
            border-radius: 8px;
            border: 1px solid $color-grey1;
            background-color: $color-white;
        }

        .progress-bar {
            height: 40px;
            border-radius: 20px;
            position: absolute;
            top: 10px;

            .progress-txt {
                position: absolute;
                top: 10px;
                right: 12px;
            }

            .thumb {
                height: 100%;
                border-radius: 20px;
                position: absolute;
                transition: all 0.5s ease;

                & > * {
                    flex-shrink: 0;
                }

                .completion-txt {
                    position: absolute;
                    top: 10px;
                    right: 12px;
                }

                .dot-wrp {
                    width: 25px;
                    height: 25px;
                    background-color: $color-white-bg;
                    border-radius: 100%;

                    .dot {
                        width: 10px;
                        height: 10px;
                        background-color: $color-white;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}