$percents: (10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 100);
$spaces: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 28, 32, 40, 48);
$fontWeights: (300, 400, 500, 600, 700);
$fontSizes: (14, 16, 18, 20, 22, 24, 28, 32, 48);
$sides: (top, bottom, left, right);
$alignments: (start, end, center);
$cursors: (pointer, default);


// spacing

.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}

@each $percent in $percents {
    .w-#{$percent} {
        width: #{percentage($percent / 100)};
    }

    .h-#{$percent} {
        height: #{percentage($percent / 100)};
    }
}

@each $space in $spaces {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px;
        }

        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px;
        }
    }
}

@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space}px;
  }
  
  .p-#{$space} {
    padding: #{$space}px;
  }
  
  .m-x-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }
  
  .p-x-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }
  
  .m-y-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }
  
  .p-y-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }
}




// layout 

.overflow-x-auto {
    overflow-x: auto;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}


// flex

@each $alignment in $alignments {
    @if $alignment == "center" {
        .align-#{$alignment} {
            align-items: $alignment;
        }

        .justify-#{$alignment} {
            justify-content: $alignment;
        }
    } @else {
        .align-#{$alignment} {
            align-items: flex-#{$alignment};
        }

        .justify-#{$alignment} {
            justify-content: flex-$alignment;
        }
    }
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

// font

@each $fontWeight in $fontWeights {
    .font-w-#{$fontWeight} {
        font-weight: $fontWeight;
    }
}

@each $fontSize in $fontSizes {
    .font-s-#{$fontSize} {
        font-size: #{$fontSize}px;
    }
}



// typography

.dark-blue {
    color: $color-dark-blue;
}

.grey1 {
    color: $color-grey1;
}

.grey2 {
    color: $color-grey2;
}

.primary-blue {
    color: $color-primary-blue;
}

.text-center {
    text-align: center;
}


// Interactivity

@each $cursor in $cursors {
    .cursor-#{$cursor} {
        cursor: $cursor;
    }
}



// comp-class

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}

.avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}
