// colors

$color-white: #ffffff;
$color-primary: #39CDCC;
$color-primary: #e3fafa;
$color-white-bg: rgba(255, 255, 255, 0.3);
$color-dark-blue: #162f61;
$color-primary-blue: #4949FF;
$color-primary-blue-bg: #ececfa;
$color-primary-blue-bg-light: #f8f8ff;
$color-xlight-grey: rgba(229, 229, 229, 0.14);
$color-light-grey: rgba(220, 220, 220, 0.3);
$color-grey1: #DCDCDC;
$color-grey2: #A9A9A9;

// box shadows
$bar-shadow: 0px 5px 6px rgba(0, 0, 0, 0.02);
$card-shadow: 3px 5px 8px rgba(0, 0, 0, 0.04);
